In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('population_india_census2011.csv', encoding= 'unicode_escape')
print(df.shape)
df.head()

(36, 8)

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
0,1,North,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2",912
1,2,West,Maharashtra,112374333,61556074,50818259,"307,713 km2",929
2,3,North,Bihar,104099452,92341436,11758016,"94,163 km2",918
3,4,East,West Bengal,91276115,62183113,29093002,"88,752 km2",953
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2",931

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sno                      36 non-null     int64
 1   Region                   36 non-null     object
 2   State / Union Territory  36 non-null     object
 3   Population               36 non-null     int64
 4   Rural population         36 non-null     int64
 5   Urban population         36 non-null     int64
 6   Area                     36 non-null     object
 7   Gender Ratio             36 non-null     int64
dtypes: int64(5), object(3)
memory usage: 2.4+ KB

In [5]:
df.head()

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
0,1,North,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2",912
1,2,West,Maharashtra,112374333,61556074,50818259,"307,713 km2",929
2,3,North,Bihar,104099452,92341436,11758016,"94,163 km2",918
3,4,East,West Bengal,91276115,62183113,29093002,"88,752 km2",953
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2",931

In [6]:
# Get a list or array of all the 'State/Union Territory' the data set
lst_states = df['State / Union Territory'].unique()
lst_states

array(['Uttar Pradesh', 'Maharashtra', 'Bihar', 'West Bengal',
       'Madhya Pradesh', 'Tamil Nadu', 'Rajasthan', 'Karnataka',
       'Gujarat', 'Andhra Pradesh', 'Odisha', 'Telengana', 'Kerala',
       'Jharkhand', 'Assam', 'Punjab', 'Chhattisgarh', 'Haryana',
       'Uttarakhand', 'Himachal Pradesh', 'Tripura', 'Meghalaya',
       'Manipur', 'Nagaland', 'Goa', 'Arunachal Pradesh', 'Mizoram',
       'Sikkim', 'Delhi', 'Jammu and Kashmir', 'Puducherry', 'Chandigarh',
       'Dadra and Nagar Haveli and Daman and Diu',
       'Andaman and Nicobar Islands', 'Ladakh', 'Lakshadweep'],
      dtype=object)

In [7]:
# What is the most populated region
high_pop = df['Population'].max()
high_pop = df[df['Population'] == high_pop]
high_pop['Region']

0    North
Name: Region, dtype: object

In [8]:
# How many states/UT have gender ratio greater than 900
len(df[df['Gender Ratio'] > 900])

27

In [9]:
pradesh_state = []
for state in lst_states:
    if state[-7:] == 'Pradesh':
        pradesh_state.append(state)

In [10]:
print(pradesh_state)
len(pradesh_state)

['Uttar Pradesh', 'Madhya Pradesh', 'Andhra Pradesh', 'Himachal Pradesh', 'Arunachal Pradesh']

5

In [11]:
# Add a Column that calculates the density of poopulation in each states/UT
pop_lst = []
for i in df['Area']:
    num = i[:-4]
    pop_lst.append(num.strip())
pop_lst

['240,928',
 '307,713',
 '94,163',
 '88,752',
 '308,245',
 '130,058',
 '342,239',
 '191,791',
 '196,024',
 '162,968',
 '155,707',
 '112,077',
 '38,863',
 '79,714',
 '78,438',
 '50,362',
 '135,191',
 '44,212',
 '53,483',
 '55,673',
 '10,486',
 '22,429',
 '22,327',
 '16,579',
 '3,702',
 '83,743',
 '21,081',
 '7,096',
 '1,484',
 '125,535',
 '479',
 '114',
 '603',
 '8,249',
 '96,701',
 '32']

In [12]:
df['Area(KM2)'] = np.asarray(pop_lst)

In [13]:
df['Area(KM2)'] = df['Area(KM2)'].apply(lambda x: x.replace(',','',).strip())
df['Area(KM2)'] = df['Area(KM2)'].astype('int64')

In [14]:
# df.info()
df['density_population(km2)'] = df['Population'] / df['Area(KM2)']

In [15]:
# Which states have the highest division between rural and urban population
(df['Rural population'] / df['Urban population'])

0     3.490663
1     1.211298
2     7.853488
3     2.137391
4     2.618782
5     1.066218
6     3.020888
7     1.585939
8     1.347621
9     2.393273
10    4.993187
11    1.572161
12    1.096405
13    3.158311
14    6.094527
15    1.667848
16    3.302540
17    1.867130
18    2.307699
19    8.969620
20    2.821213
21    3.982600
22    2.310161
23    2.465184
24    0.608428
25    3.359994
26    0.918961
27    2.975680
28    0.025600
29    2.830082
30    0.463440
31    0.028244
32    0.711489
33    1.652354
34    0.190476
35    0.280954
dtype: float64

In [16]:
df[df['Sno'] == 19]

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio,Area(KM2),density_population(km2)
18,19,North,Uttarakhand,10086292,7036954,3049338,"53,483 km2",963,53483,188.588748

In [17]:
# Your taks to print state here......